<div class="sidebar" data-color="azure" data-background-color="black" data-image="/img/sidebar-2.jpg">
  <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
  <div class="logo">
    <a href="greatunihack.com" class="simple-text logo-normal">
      GUH Hub
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/challanges">
          <i class="material-icons">library_books</i>
          <p>Challenges</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/achievements">
          <i class="fas fa-award"></i>
          <p>Achievements</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/hardware">
          <i class="material-icons">usb</i>
          <p>Hardware</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contacts">
          <i class="material-icons">contacts</i>
          <p>Emergency Contacts</p>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
  <div class="container-fluid">
    <div class="navbar-wrapper">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false"
      aria-label="Toggle navigation" data-target="#navigation-example">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="javascript:startScanner()">
              <i class="fas fa-qrcode fa-3x"></i>
              <p class="d-lg-none d-md-block">
                QR Scanner
              </p>
            </a>
          </li>
        </ul>
      </div>
  </div>
</nav>
<script src="/js/qrInterface.js"></script>
<% include ./qrScanner %>
<!-- End Navbar -->