<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
  <title>GUH19 Hub - Challenges</title>
  <link rel="stylesheet" href="/css/challenges.css">
</head>

<body>
  <div class="wrapper">
    <% include ../partials/navbar.ejs %>
    <div class="main-panel">
      <div class="content">
        <div class="container-fluid">
          <!-- CHALLENGES -->
          <div class="row">
              <h3>Challenges</h3>
            </div>
          <div class="row">
            <% challenges.forEach(challenge => { %>
            <div class="col-md-6 col-lg-6 col-xl-6">
              <div class="card h-75">
                <div class="card-header card-header-success">
                  <h4 class="card-title text-center">
                    <%- challenge.title %>
                  </h4>
                </div>
                <div class="card-body challenge-card-content item-content">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <div class="card-text text-center">
                        <h5>
                          <%- challenge.description %>
                        </h5>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="card-footer">
                  <div class="card-text text-center">
                    <h5><b>Prizes:</b>
                      <%- challenge.prizes %>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
            <% }); %>
          </div>
        </div>
      </div>
      <% include ../partials/footer.ejs %>
    </div>
  </div>
</body>

</html>