<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
  <title>Hub | Contacts</title>
</head>

<body>
  <div class="wrapper">
    <% include ../partials/navbar.ejs %>

    <div class="main-panel">
      <div class="content">
        <div class="row">
          <div class="col-md-3">
            <div class="card card-profile">
              <div class="card-avatar">
                  <img class="img" src="/img/contacts/guh.png">
              </div>
              <div class="card-body">
                <h4 class="card-title">GreatUniHack</h4>
                <p class="card-description">
                  <a href="mailto:incidents@greatunihack.com">incidents@greatunihack.com</a>
                </p>
              </div>  
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-profile">
              <div class="card-avatar">
                  <img class="img" src="/img/contacts/caitlin.jpg">
              </div>
              <div class="card-body">
                <h4 class="card-title">Caitlin Fotheringham</h4>
                <p class="card-description">
                  (+44) 7482375284
                </p>
              </div>  
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-profile">
              <div class="card-avatar">
                  <img class="img" src="/img/contacts/ritam.png">
              </div>
              <div class="card-body">
                <h4 class="card-title">Ritam Anand</h4>
                <p class="card-description">
                    (+44) 7909195290
                </p>
              </div>  
            </div>
          </div>
        </div>
      </div>
      <% include ../partials/footer.ejs %>
    </div>
  </div>
</body>

</html>