<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
  <title>GUH18 Hub - Admin</title>
  <link rel="stylesheet" href="/css/admin.css">
  <script src="/js/hardwareAdmin.js"></script>
</head>

<body>
  <div class="wrapper">
    <% include ../partials/navbar.ejs %>

    <div class="main-panel">
      <div class="content">
        <div class="row">
          <div class="col-md-3">
            <div class="card card-profile">
              <div class="card-avatar">
                  <img class="img" src="/img/contacts/hacksoc.png">
              </div>
              <div class="card-body">
                <h4 class="card-title">HackSoc</h4>
                <p class="card-description">
                  <a href="mailto:incidents@hacksoc.com">incidents@hacksoc.com</a>
                </p>
              </div>  
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-profile">
              <div class="card-avatar">
                  <img class="img" src="/img/contacts/adela.jpg">
              </div>
              <div class="card-body">
                <h4 class="card-title">Adela Mihaila</h4>
                <p class="card-description">
                    +40 (0) 726487138
                </p>
              </div>  
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-profile">
              <div class="card-avatar">
                  <img class="img" src="/img/contacts/anda.jpg">
              </div>
              <div class="card-body">
                <h4 class="card-title">Anda Andronie</h4>
                <p class="card-description">
                    +40 (0) 766554889
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-profile">
              <div class="card-avatar">
                  <img class="img" src="/img/contacts/luke.jpg">
              </div>
              <div class="card-body">
                <h4 class="card-title">Luke Beamish</h4>
                <p class="card-description">
                    +44 (0) 7762207116
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-profile">
              <div class="card-avatar">
                  <img class="img" src="/img/contacts/alex.jpg">
              </div>
              <div class="card-body">
                <h4 class="card-title">Alex Ivanov</h4>
                <p class="card-description">
                    +44 (0) 7706677871
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-profile">
              <div class="card-avatar">
                  <img class="img" src="/img/contacts/gabija.jpg">
              </div>
              <div class="card-body">
                <h4 class="card-title">Gabija Bernotaite</h4>
                <p class="card-description">
                    +44 (0) 7568957666
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-profile">
              <div class="card-avatar">
                  <img class="img" src="/img/contacts/ben.jpg">
              </div>
              <div class="card-body">
                <h4 class="card-title">Ben Piggott</h4>
                <p class="card-description">
                    +44 (0) 7708227078
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-profile">
              <div class="card-avatar">
                  <img class="img" src="/img/contacts/joe.png">
              </div>
              <div class="card-body">
                <h4 class="card-title">Joe Blackmore</h4>
                <p class="card-description">
                    +44 (0) 7938832505
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-profile">
              <div class="card-avatar">
                  <img class="img" src="/img/contacts/raluca.jpg">
              </div>
              <div class="card-body">
                <h4 class="card-title">Raluca Lazarescu</h4>
                <p class="card-description">
                    +44 (0) 7849514216
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-profile">
              <div class="card-avatar">
                  <img class="img" src="/img/contacts/iqrah.jpg">
              </div>
              <div class="card-body">
                <h4 class="card-title">Iqrah Nadeem</h4>
                <p class="card-description">
                    +44 (0) 7564061540
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-profile">
              <div class="card-avatar">
                  <img class="img" src="/img/contacts/denisa.jpg">
              </div>
              <div class="card-body">
                <h4 class="card-title">Denisa Baboi-Dragan</h4>
                <p class="card-description">
                    +44 (0) 7713934050
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card card-profile">
              <div class="card-avatar">
                  <img class="img" src="/img/contacts/delia.jpg">
              </div>
              <div class="card-body">
                <h4 class="card-title">Delia Savin</h4>
                <p class="card-description">
                    +44 (0) 7510930127
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% include ../partials/footer.ejs %>
    </div>
  </div>
</body>

</html>