<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
  <title>GUH18 Hub - Hardware</title>
  <link rel="stylesheet" href="/css/hardware.css">
  <script src="/js/hardware.js"></script>
</head>

<body>
  <div id="reservation-qr-panel">
    <i id="reservation-qr-close" class="fas fa-times fa-3x" onclick="closeQR()"></i>
    <div id="reservation-qr-container">
      <b>Show this code to the volunteers at the hardware library</b>
      <img id="reservation-qr" src="" alt="loading">
      <div id="reservation-qr-spacer"></div>
      <b>If it doesn't work, show them this token:</b>
      <h3 id="reservation-qr-token"></h3>
    </div>
  </div>
  <div class="wrapper">
    <% include ../partials/navbar.ejs %>
    <div class="main-panel">
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-2">
              <form class="form-inline md-form form-sm mt-0">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-75" type="text"
                       placeholder="Search" aria-label="Search" oninput="search(this.value)">
              </form>
            </div>
            <div class="col-sm-3">
              <span>Filter: &nbsp;</span>
              <span class="btn-group">
                <div id="filter-btn-all" class="btn btn-radio filter-btn active"
                        onclick="setFilter('all')"
                        onmouseover="enterFilterButton('all')"
                        onmouseout="exitFilterButton()">
                        All</div>
                <div id="filter-btn-reserved" class="btn btn-radio filter-btn"
                        onclick="setFilter('reserved')"
                        onmouseover="enterFilterButton('reserved')"
                        onmouseout="exitFilterButton()">
                        Reserved/Taken</div>
              </span>
            </div>
          </div>
          <div id="items-container" class="row">
          </div>
        </div>
      </div>
      <% include ../partials/footer.ejs %>
      <script>
        var year = new Date().getFullYear();
        var date = document.getElementById('date');
        date.innerHTML = '&copy; ' + year + date.innerHTML;
      </script>
    </div>
  </div>
    
  <!--   Core JS Files   -->
  <script src="/js/core/jquery.min.js"></script>
  <script src="/js/core/popper.min.js"></script>
  <script src="/js/core/bootstrap-material-design.min.js"></script>
  <script src="https://unpkg.com/default-passive-events"></script>
  <script src="/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Chartist JS -->
  <script src="/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin  -->
  <script src="/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/js/material-dashboard.js?v=2.1.0"></script>
  <script src="/js/animations.js"></script>
  <script src="/js/hardwareAdmin.js"></script>
  <script>
    hardwareItems = <%- JSON.stringify(items) %>;
    renderItems();
  </script>
</body>

</html>