.login-form {
    width: 340px;
    margin: 120px auto;
}
.login-form form {
    margin-bottom: 15px;
    background: #e6e6e6;
    box-shadow: 0px 2px 2px rgba(224, 212, 212, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}

