body, html {
  height: 100%;
}

body {
  display:flex;
  align-items:center;
}

/* body {
  background: url("../img/last-year/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
} */