<link rel="stylesheet" href="/css/cookieDisclaimer.css">
<div id="consentBanner">
  <div id="consentBannerContent">
    <p>
      This site uses cookies to improve your experience on the website. By using our site you consent to our use of cookies.
    </p>
  </div>
  <div id="consentAcknowledgementBtn" onclick="acceptCookies()">
    <i class="fas fa-times"></i>
  </div>
</div>
<script src="/js/cookieDisclaimer.js"></script>
