<footer class="footer">
    <div class="container-fluid">
      <div class="copyright float-right" id="date">
        <a href="http://hacksoc.com" target="_blank" rel="noopener noreferrer">HackSoc</a>, theme by
        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
      </div>
    </div>
  </footer>