<footer class="footer">
    <div class="container-fluid">
      <div class="copyright float-right" id="date">
        <a href="https://unicsmcr.com" target="_blank" rel="noopener noreferrer">UniCS</a>, theme by
        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
      </div>
    </div>


      <!--   Core JS Files   -->
    <script src="/js/core/jquery.min.js"></script>
    <script src="/js/core/popper.min.js"></script>
    <script src="/js/core/bootstrap-material-design.min.js"></script>
    <script src="https://unpkg.com/default-passive-events"></script>
    <script src="/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Chartist JS -->
    <script src="/js/plugins/chartist.min.js"></script>
    <!--  Notifications Plugin  -->
    <script src="/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="/js/material-dashboard.js?v=2.1.0"></script>
    <script src="/js/animations.js"></script>
    <script src="/js/pushNotificationService.js"></script>

    <% include ./cookieDisclaimer.ejs %>
  </footer>
  <script>
    var x = new Date().getFullYear();
    var date = document.getElementById('date');
    date.innerHTML = '&copy; ' + x + date.innerHTML;

    var notification = <%- JSON.stringify(locals.notification || null) %>;
    if (notification) {
      $.notify({
        message: notification.message
      }, {
          type: notification.type
      });
    }
  </script>