<link rel="stylesheet" href="/css/qrScanner.css">
<div id="qr-scanner-container" onclick="closeScanner()">
  <i id="qr-scanner-close" class="fas fa-times fa-3x" onclick="closeScanner()"></i>
  <video id="qr-scanner"></video>
</div>