<link rel="stylesheet" href="/css/qrScanner.css">
<div id="qr-scanner-container">
  <i id="qr-scanner-close" class="fas fa-times fa-3x" onclick="closeScanner()"></i>
  <i id="qr-scanner-switch" class="fas fa-exchange-alt fa-3x" onclick="changeScanner()"></i>
  <video id="qr-scanner"></video>
</div>